// Oliveira Syntax Theme

// Color scheme -----------------------------------

@dbg: #374934; // Dark background
@dhl: #475944; // Dark highlight
@dt2: #879984; // Dark bg text secondary
@dt1: #A7B9A4; // Dark bg text primary

@lbg: #EBE9DA; // Light background
@lhl: #DBD9CA; // Light highlight
@lt2: #9B998A; // Light bg text secondary
@lt1: #6B695A; // Light bg text primary

@red: #C36A5F; // Red
@ora: #B37521; // Orange
@gre: #6B8C4A; // Green
@blu: #3C959A; // Blue

@mag: #BB6384; // Magenta
@yel: #A38E10; // Yellow
@cya: #5C9B85; // Cyan
@vio: #8B85BA; // Violet

// Variables -----------------------------------

@text-1: @lt1; // text primary
@text-2: @lt2; // text secondary

@color-1: @yel; // color primary
@color-2: @ora; // color secondary
@color-3: @gre; // color tertiary

@support-1: @cya; // support primary
@support-2: @blu; // support secondary

@accent-1: @red; // accent primary
@accent-2: @vio; // accent secondary
@accent-3: @mag; // accent tertiary

// Base vars -----------------------------------

@syntax-fg: @text-1; // text primary
@syntax-accent: @accent-1; // accent primary
@syntax-bg: @lbg; // background
@syntax-guide: @lhl; // background highlight
@syntax-selection: @syntax-guide;
@syntax-selection-gutter: @syntax-guide;
@syntax-cursor-line: fade(@syntax-selection, 26%); // needs to be semi-transparent to show serach results
